.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* .badgeGoals {
  align-self: flex-start;
} */

.progressGoals {
  align-self: center;
}

.modalBtn {
  align-self: flex-end;
}
